header {
    background-color: #008500;
    margin-bottom: -15px;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -15px;
  text-align: left;
}
header a { 
    background-color: hsl(84, 87%, 70%);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

nav{ text-align: center;
}

nav a {
  color: black;
  background-color: #BEF56E;
  border-radius: 15px;
  padding: 5px;
  margin: 70px; 
}

body {
    font-family: sans-serif;
    background-color: #9FEE00;
}


footer { background-color: #008500;
margin-bottom: -15px;
margin-right: -8px;
margin-left: -8px;
margin-top: -20px;
}

footer p { color: white;
}

h1 { text-align: center; }
h2 { text-align: center; }
